<router-outlet>
</router-outlet>
<!-- <h2 class="container">test</h2>
<i class="fa-solid fa-car"></i>
<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>

<button pButton type="button" icon="pi pi-check" iconPos="left"></button>
<p-button label="Click" icon="pi pi-check" iconPos="left"></p-button>


<h5>Icons</h5>
<p-button icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button> -->
