<div class="b-example-divider"></div>

  <header class="p-3 mb-3 border-bottom">
    <div class="container-fluid">
        
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <!-- <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a> -->

        <h1 style="margin-left: -15px;">MyWay</h1>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-left:70px ;">
          <li><a href="#" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Entreprises</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Offres</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Formations</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Conseils</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Actualités</a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> -->

        <div class="dropdown text-end">
           
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class=" dropdown-menu dropdown-menu-right collapse  text-small">
            <li><a class="dropdown-item" href="#">Se connecter</a></li>
            <li><a class="dropdown-item" href="#">S'inscrire</a></li>
            <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>

        
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class=" dropdown-menu dropdown-menu-right collapse  text-small">
              <li><a class="dropdown-item" href="#">Se connecter</a></li>
              <li><a class="dropdown-item" href="#">S'inscrire</a></li>
              <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
      </div>
    </div>
   

  </header>

 