<p>cette page va afficher les offres </p>
<br>
<br>
<br>
<div class="container">
  
<div class="card"style="margin-top: 20px;">
    <div class="card-body" >
        
        <div class="container">
          <div class="input-group rounded">
            <input type="search" class="form-control " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <input type="search" class="form-control " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <input type="search" class="form-control " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
  </div>

</div>