<p>cette page va afficher les offres </p>
<br>
<br>
<br>
<div class="container">
  
<div class="card"style="margin-top: 20px;">
    <div class="card-body" >
        
        <div class="container">
          <div class="input-group rounded">
            <input type="search" class="form-control " placeholder="Mot clés, titre du poste..." aria-label="Search" aria-describedby="search-addon" />
            <input type="search" class="form-control " placeholder="Région, ville" aria-label="ville, régions" aria-describedby="search-addon" />
            
            <select name="secteur" id="secteur-select" class="form-select" >
              <option value="">Sélectionnez un secteur </option>
              <option value="dog">Tout</option>
              <option value="cat">Agriculture</option>
              <option value="hamster">Électronique</option>
              <option value="parrot">Informatique</option>
              <option value="spider">Santé</option>
              <option value="goldfish">Textile</option>
            </select>
              
            <span class="input-group-text border-0" id="search-addon" style="color: #5ccfc4;">
              <i class="fas fa-search"></i>
            </span>
          </div>
      <!-- <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a> -->
    </div>
  </div>

</div>
<!--fin de barre de recherche-->
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
  <!-- BEGIN SEARCH RESULT -->
  <div class="col-md-12">
    <div class="grid search">
      <div class="grid-body">
        <div class="row">
          <!-- BEGIN FILTERS -->
          <div class="col-md-3">
            <h2 class="grid-title" style="font-size: 25px"><i class="fa fa-filter"></i> Filtrer</h2>
            <hr>
            
            <!-- filter par l'emplacement -->
            <h4>Emplacements:</h4>
            <div>
              <ul style="padding-left: 5px;list-style: none; margin-top: 20px;line-height: 40px;">
                <li>
                  <label class="filter">Pays</label>
                  <div>
                    <select name="secteur" id="secteur-select" class="form-select" >
                      <option value="">choisissez le pays </option>
                      <option value="dog">Tout</option>
                      <option value="cat">Agriculture</option>
                      <option value="hamster">Électronique</option>
                      <option value="parrot">Informatique</option>
                      <option value="spider">Santé</option>
                      <option value="goldfish">Textile</option>
                    </select>
                  </div>
                </li>
                <li><label class="filter">Région</label>
                  <div>
                    <select name="secteur" id="secteur-select" class="form-select" >
                      <option value="">choisissez la région </option>
                      <option value="dog">Tout</option>
                      <option value="cat">Agriculture</option>
                      <option value="hamster">Électronique</option>
                      <option value="parrot">Informatique</option>
                      <option value="spider">Santé</option>
                      <option value="goldfish">Textile</option>
                    </select>
                  </div></li>
                <li><label class="filter">Ville</label>
                  <div>
                    <select name="secteur" id="secteur-select" class="form-select" >
                      <option value="">choisissez la ville </option>
                      <option value="dog">Tout</option>
                      <option value="cat">Agriculture</option>
                      <option value="hamster">Électronique</option>
                      <option value="parrot">Informatique</option>
                      <option value="spider">Santé</option>
                      <option value="goldfish">Textile</option>
                    </select>
                  </div></li>
                </ul>
            </div>


          
            <div class="padding"></div>
            <hr>
            <!-- BEGIN FILTER BY DATE -->
            <div style="line-height: 40px;">
            <h4>Par date:</h4>
           <label class="filter">Début:</label>
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input class="input-group date form_date form-control" type="date" id="start" name="trip-start" >
              <!-- <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span> -->
            </div>
            <input type="hidden" id="dtp_input1" value="">
            
            <label class="filter">Fin:</label>
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input class="input-group date form_date form-control" type="date" id="start" name="trip-start" >
            </div>
            <input type="hidden" id="dtp_input2" value="">
          </div>
            <!-- END FILTER BY DATE -->


            <!--début de filtrage par type de contrat-->
            <hr>
            <h4>Type de contrat:</h4>
           <div style="margin-top: 20px; font-size: 20px;">
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> A discuter</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Anapec</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> CDD</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> CDI</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Freelance</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Intérim</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> Stage</label>
            </div>
          </div>
            <!-- fin de filtrage par type de contrat -->
            
            <hr>
            <div class="padding"></div>
            
            <!-- BEGIN FILTER BY PRICE -->
            <!-- <h4>Salaire:</h4>
            <div class="slider-primary">
              <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
            </div> -->
            <!-- END FILTER BY PRICE -->


            
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
            <h2 style="font-size: 25px"> Result</h2>
            <hr>
            <!-- BEGIN SEARCH INPUT -->
            <div class="input-group">
              <input type="text" class="form-control" value="web development">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
            <!-- END SEARCH INPUT -->
            <p>Showing all results matching "web development"</p>
            
            <div class="padding"></div>
            
            <div class="row">
              <!-- BEGIN ORDER RESULT -->
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Name</a></li>
                    <li><a href="#">Date</a></li>
                    <li><a href="#">View</a></li>
                    <li><a href="#">Rating</a></li>
                  </ul>
                </div>
              </div>
              <!-- END ORDER RESULT -->
              
              <div class="col-md-6 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                  <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                </div>
              </div>
            </div>
            
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody><tr>
                  <td class="number text-center">1</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/FF8C00" alt=""></td>
                  <td class="product"><strong>Product 1</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                  <td class="price text-right">$350</td>
                </tr>
                <tr>
                  <td class="number text-center">2</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/5F9EA0" alt=""></td>
                  <td class="product"><strong>Product 2</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>
                  <td class="price text-right">$1,050</td>
                </tr>
                <tr>
                  <td class="number text-center">3</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300" alt=""></td>
                  <td class="product"><strong>Product 3</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></span></td>
                  <td class="price text-right">$550</td>
                </tr>
                <tr>
                  <td class="number text-center">4</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/8A2BE2" alt=""></td>
                  <td class="product"><strong>Product 4</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></span></td>
                  <td class="price text-right">$330</td>
                </tr>
                <tr>
                  <td class="number text-center">5</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300" alt=""></td>
                  <td class="product"><strong>Product 5</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></td>
                  <td class="price text-right">$540</td>
                </tr>
                <tr>
                  <td class="number text-center">6</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/6495ED" alt=""></td>
                  <td class="product"><strong>Product 6</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                  <td class="price text-right">$870</td>
                </tr>
                <tr>
                  <td class="number text-center">7</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/DC143C" alt=""></td>
                  <td class="product"><strong>Product 7</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span></td>
                  <td class="price text-right">$620</td>
                </tr>
                <tr>
                  <td class="number text-center">8</td>
                  <td class="image"><img src="https://via.placeholder.com/400x300/9932CC" alt=""></td>
                  <td class="product"><strong>Product 8</strong><br>This is the product description.</td>
                  <td class="rate text-right"><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></td>
                  <td class="price text-right">$1,550</td>
                </tr>
              </tbody></table>
            </div>
            <!-- END TABLE RESULT -->
            
            <!-- BEGIN PAGINATION -->
            <ul class="pagination">
              <li class="disabled"><a href="#">«</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">»</a></li>
            </ul>
            <!-- END PAGINATION -->
          </div>
          <!-- END RESULT -->
        </div>
      </div>
    </div>
  </div>
  <!-- END SEARCH RESULT -->
</div>
</div>