

<main class="bg-light">



<!-- add a top -->
<!-- add a top -->
<!-- add a top -->
<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">

    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1"></h1>
      <small></small>
    </div>
  </div>
  <!-- add a top -->
  <!-- add a top -->
  <!-- add a top -->

<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-3 mb-3 ">
        <div class="card ">

          <div class="card-body">
                      <div class="herder-top-card">

                        <h5 class="col about"></h5>
                        <div class=" icons "></div>

                      </div>
            <div class="d-flex flex-column align-items-center text-center">
                <!-- <img src="https://avatars.githubusercontent.com/u/71600486?v=4" alt="Admin" class="rounded-circle p-1 bg-primary"
                  width="120"> -->

                      <div class="avatar-upload">
                        <div class="avatar-edit">
                          <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                          <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                          <div id="imagePreview" style="background-image: url(https://avatars.githubusercontent.com/u/71600486?v=4);">
                          </div>
                        </div>
                      </div>

              <div class="mt-3">
                <h4>ahmed aoulad amar</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">birc hifa ,tanger, moroco</p>

              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3 mb-3 card-body">
                              <div class="herder-top-card">

                                <h5 class="col about">conect</h5>
                                <div class=" icons "></div>

                              </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-globe mr-2 icon-inline">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" y1="12" x2="22" y2="12"></line>
                  <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                  </path>
                </svg></h6>
              <span class="text-secondary">dev.dragon.com</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-github mr-2 icon-inline">
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                  </path>
                </svg></h6>
              <span class="text-secondary">@dev.dragon</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-twitter mr-2 icon-inline text-info">
                  <path
                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                  </path>
                </svg></h6>
              <span class="text-secondary">@dev.dragon</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-instagram mr-2 icon-inline text-danger">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg></h6>
              <span class="text-secondary">@dev.dragon</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-facebook mr-2 icon-inline text-primary">
                  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg></h6>
              <span class="text-secondary">@dev.dragon</span>
            </li>
          </ul>
        </div>
        <div class="card mb-3">
          <div class="card-body h-100">
          <div class="herder-top-card">

          <h5 class="col about">About</h5>
          <div class=" icons "></div>

          </div>

             <p class="para">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia
              totam atque exercitationem inventore repudiandae?
             </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body  h-100">
            <div class="herder-top-card">

              <h5 class="col about">creter</h5>
              <div class=" icons "></div>

            </div>

                <div class="wtf row"><p    class="col-6"> fild :</p> <p class="col-6 text-secondary mb-1">Full Stack Developer</p></div>
                  <div class="wtf row" ><p class="col-6"> Plaise :</p><p class="col-6 text-muted font-size-sm mb-1">tanger ctiy</p></div>
                  <div class="wtf row"><p  class="col-6"> Pontarct :</p><p class="col-6 text-secondary mb-1">CDD </p></div>
                  <div class="wtf row"><p  class="col-6"> Salier  :</p><p class="col-6 text-muted font-size-sm mb-1">1000$ </p></div>
                  <div class="wtf row"><p  class="col-6"> Avalibal at  :</p><p class="col-6 text-muted font-size-sm mb-1">The next month</p></div>

          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body h-100">
            <div class="herder-top-card">

              <h5 class="col about">Langouge</h5>
              <div class=" icons "></div>

            </div>

                              <h5 class="d-flex align-items-center mb-3"></h5>
                              <small>arabic</small>
                              <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0"
                                  aria-valuemax="100"></div>
                              </div>
                              <small>englich</small>
                              <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                                  aria-valuemax="100"></div>
                              </div>
                              <small>franch</small>
                              <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 69%" aria-valuenow="89" aria-valuemin="0"
                                  aria-valuemax="100"></div>
                              </div>
                              <small>spanch</small>
                              <div class="progress mb-3" style="height: 5px">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0"
                                  aria-valuemax="100"></div>
                              </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body h-100">
            <div class="herder-top-card">
              <h5 class="col about">Skils</h5>
              <div class=" icons "></div>

              </div>

                                  <h5 class="d-flex align-items-center mb-3"></h5>
                                  <small>Web Design</small>
                                  <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                                  </div>
                                  <small>Website Markup</small>
                                  <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                                  </div>
                                  <small>One Page</small>
                                  <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                                  </div>
                                  <small>Mobile Template</small>
                                  <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                                  </div>
                                  <small>Backend API</small>
                                  <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0"
                                      aria-valuemax="100"></div>
                                  </div>


          </div>
        </div>

      </div>







<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->


















<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->
<!-- kdsfhghgdsjfhgsddddddddddddddddddddddddddddddddddddddd -->



















      <div class="col-md-9">
        <div class="card mb-3">
          <div class="card-body">
            <div class="herder-top-card">

              <h5 class="col">titele</h5>
              <div class=" icons "></div>

            </div>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Kenneth Valdez
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                fip@jukmuh.al
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (239) 816-9029
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (320) 380-4539
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                Bay Area, San Francisco, CA
              </div>
            </div>
            <hr>
            <div class="row">

            </div>
          </div>
        </div>


          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                <div class="herder-top-card">

                  <h5 class="col">experince</h5>
                  <div class=" icons "></div>

                </div>


                  <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">


                        <div class="seofy_module_time_line_vertical appear_anim">
                          <div id="time_line_5cf90ca818f641" class="time_line-item  item_show">
                            <div class="time_line-date_wrap">
                              <div class="seofy_hexagon"><svg style=" fill: #ffa705;" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <div class="seofy_hexagon"><svg style="filter: drop-shadow(4px 5px 4px rgba(255,167,5,0.3)); fill: #ffa705;"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <h4 class="time_line-date">2015</h4>
                            </div>
                            <div class="time_line-content">
                              <h5 class="time_line-title">A Brief History</h5>
                              <div class="time_line-descr">We joined the team and after much success, the agency was eventually.</div>
                            </div>
                          </div>
                          <div id="time_line_5cf90ca818fa82" class="time_line-item  item_show">
                            <div class="time_line-date_wrap">
                              <div class="seofy_hexagon"><svg style=" fill: #ff5600;" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <div class="seofy_hexagon"><svg style="filter: drop-shadow(4px 5px 4px rgba(255,86,0,0.3)); fill: #ff5600;"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <h4 class="time_line-date">2016</h4>
                            </div>
                            <div class="time_line-content">
                              <h5 class="time_line-title">Something Big</h5>
                              <div class="time_line-descr">The team move into its first office, in the centre of Henley-on-Thames.</div>
                            </div>
                          </div>
                          <div id="time_line_5cf90ca818fc83" class="time_line-item item_active item_show">

                            <div class="time_line-date_wrap">
                              <div class="seofy_hexagon"><svg style=" fill: #69e9f2;" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <div class="seofy_hexagon"><svg
                                  style="filter: drop-shadow(4px 5px 4px rgba(105,233,242,0.3)); fill: #69e9f2;"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <h4 class="time_line-date">2017</h4>
                            </div>
                            <div class="time_line-content">
                              <h5 class="time_line-title">The Army Grows</h5>
                              <div class="time_line-descr">The team of seofy grow to around 8, as amazing new clients come on board.</div>
                            </div>
                          </div>
                          <div id="time_line_5cf90ca818fe44" class="time_line-item  item_show">
                            <div class="time_line-date_wrap">
                              <div class="seofy_hexagon"><svg style=" fill: #12affe;" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <div class="seofy_hexagon"><svg
                                  style="filter: drop-shadow(4px 5px 4px rgba(18,175,254,0.3)); fill: #12affe;"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <h4 class="time_line-date">2018</h4>
                            </div>
                            <div class="time_line-content">
                              <h5 class="time_line-title">An Award-Winning Creation</h5>
                              <div class="time_line-descr">Continued growth in cool new clients means that our team continues.</div>
                            </div>
                          </div>
                          <div id="time_line_5cf90ca818ffe5" class="time_line-item  item_show">
                            <div class="time_line-date_wrap">
                              <div class="seofy_hexagon"><svg style=" fill: #3224e9;" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <div class="seofy_hexagon">
                                <svg style="filter: drop-shadow(4px 5px 4px rgba(50,36,233,0.3)); fill: #3224e9;"
                                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4">
                                  <path
                                    d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z">
                                  </path>
                                </svg></div>
                              <h4 class="time_line-date">2019</h4>
                            </div>
                            <div class="time_line-content">
                              <h5 class="time_line-title">Expansion &amp; Awards</h5>
                              <div class="time_line-descr">The team grows to nearly 40, working with some incredible clients.</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>


            <div class="row gutters-sm">
              <div class="col-sm-12 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                  <div class="herder-top-card">

                    <h5 class="col">titele</h5>
                    <div class=" icons "></div>

                  </div>




























                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
            </div>

      </div>
    </div>

  </div>
</div>




  </div>
  </div>
  </div>
</main>



<!-- add a top -->
<!-- add a top -->
<!-- add a top -->
<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">

    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1"></h1>
      <small></small>
    </div>
  </div>
  <!-- add a top -->
  <!-- add a top -->
  <!-- add a top -->




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script>
  function readURL(input) {

    var inputfile = $('#imageUpload');
    if (inputfile.files && inputfile.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
        $('#imagePreview').hide();
        $('#imagePreview').fadeIn(650);
      }
      reader.readAsDataURL(inputfile.files[0]);
    }
  }
  $("#imageUpload").change(function () {
    readURL(this);
  });





</script>
