

<main class="bg-light">




<!-- add a top -->
<!-- add a top -->
<!-- add a top -->
  <div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">

      <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1"></h1>
        <small></small>
      </div>
    </div>
<!-- add a top -->
<!-- add a top -->
<!-- add a top -->























          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
          <!-- the smoler side -->
<section class="row">
  <article class="col-3">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">title</h6>
      <div class="d-flex text-muted pt-3">
        <!-- icons -->
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          <!-- add info  -->
        </p>
      </div>
      <small class="d-block text-end mt-3">
        <p>icon action</p>
      </small>

      <h6 class="border-bottom pb-2 mb-0">title</h6>
      <div class="d-flex text-muted pt-3">
        <!-- icons -->
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          <!-- add info  -->
        </p>
      </div>
      <small class="d-block text-end mt-3">
        <p>icon action</p>
      </small>

      <h6 class="border-bottom pb-2 mb-0">title</h6>
      <div class="d-flex text-muted pt-3">
        <!-- icons -->
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          <!-- add info  -->
        </p>
      </div>
      <small class="d-block text-end mt-3">
        <p>icon action</p>
      </small>
    </div>
  </article>
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
          <!-- the bis side -->
   <article class="col-9 row">
    <div class=" col-4 my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">title</h6>
      <div class="d-flex text-muted pt-3">
          <!-- icons -->
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@username</strong>
          <!-- add info  -->
        </p>
      </div>
      <small class="d-block text-end mt-3">
        <p>icon action</p>
      </small>
    </div>
        <div class=" col-4 my-3 p-3 bg-body rounded shadow-sm">
          <h6 class="border-bottom pb-2 mb-0">title</h6>
          <div class="d-flex text-muted pt-3">
            <!-- icons -->
            <p class="pb-3 mb-0 small lh-sm border-bottom">
              <strong class="d-block text-gray-dark">@username</strong>
              <!-- add info  -->
            </p>
          </div>
          <small class="d-block text-end mt-3">
            <p>icon action</p>
          </small>
        </div>
            <div class=" col-4 my-3 p-3 bg-body rounded shadow-sm">
              <h6 class="border-bottom pb-2 mb-0">title</h6>
              <div class="d-flex text-muted pt-3">
                <!-- icons -->
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                  <strong class="d-block text-gray-dark">@username</strong>
                  <!-- add info  -->
                </p>
              </div>
              <small class="d-block text-end mt-3">
                <p>icon action</p>
              </small>
            </div>
  </article>






























</section>



  </div>
</main>
