
$three : rgb(248, 183, 3);
$three-hover :#34f803;
$ana : true;






















body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}















.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
 @if $ana == true {
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
  } @else {
.card-body {
display: none;
}
  }


.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}




.herder-top-card{
  position: relative;
  width: 100%;

  padding: 10px;

  background-color: rgb(252, 252, 252);
}






.icons {
  background-color: rgb(19, 157, 236);
    padding: 5px;
    background: #ffffff;
    border: 1px #12affe solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(36, 36, 36);
    margin-bottom: 0;

    border-radius: 100%;
    color: white;
    border: $three solid 2px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    right: -6px;
    top: -6px;
    font-weight: normal;
    transition: all .2s ease-in-out;
    &:hover {
        background: #f1f1f1;
        border-color: $three-hover;
      }

      &:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 5px;
        left: 3px;
        right: 0;
        text-align: center;
        margin: auto;
      }
  }






















.para
{
text-align: center;
color: #333;
}
.about
{
text-align: center;

}


.wtf{
  display: flex;

}








































.container-img {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

.h1-img {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
    small {
        display: block;
        font-size: 15px;
        padding-top: 8px;
        color: gray;
    }
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 20px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 66;
        top: 11px;


        input {
            display: none;
            + label {
                display: inline-block;
                width: 35px;
                height: 35px;

                margin-bottom: 0;
                border-radius: 100%;
                background: #ffffff;
                  border: $three solid 2px;
                box-shadow: 0px 2px 4px 0px rgb(36, 36, 36);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: $three-hover;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 7px;
                    left: 3px;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

































































.finbyz-timeline{

  background: #f4f6fd url(http://seofy.wgl-demo.net/wp-content/uploads/2018/11/section_timeline1.png?id=537) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.wgl-row-animation{
   position: relative;
    z-index: 1;

}
.wgl-row-animation {
position: relative;
z-index: 1; }
.wgl-row-animation .wpb_column {
position: relative;
z-index: 2; }
.wgl-row-animation .wgl-row_background {
position: absolute;
z-index: -1;
top: 50%;
left: 70%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); }
.seofy_module_time_line_vertical {
position: relative;
z-index: 1;
padding: 70px 0; }
.seofy_module_time_line_vertical:before {
content: '';
position: absolute;
z-index: -1;
height: 100%;
width: 3px;
left: 50%;
top: 0;
margin-left: -1px;

background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) -webkit-calc(100% - 100px), transparent 100%);
background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) -moz-calc(100% - 100px), transparent 100%);
background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) calc(100% - 100px), transparent 100%); }
.seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-date {
-webkit-transform: translateX(-20%);
-moz-transform: translateX(-20%);
-ms-transform: translateX(-20%);
-o-transform: translateX(-20%);
transform: translateX(-20%);
opacity: 0; }
.seofy_module_time_line_vertical.appear_anim .time_line-item .seofy_hexagon {
opacity: 0; }
.seofy_module_time_line_vertical.appear_anim .time_line-item .time_line-content {
-webkit-transform: translateX(20%);
-moz-transform: translateX(20%);
-ms-transform: translateX(20%);
-o-transform: translateX(20%);
transform: translateX(20%);
opacity: 0; }
.seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-date {
-webkit-transform: translateX(20%);
-moz-transform: translateX(20%);
-ms-transform: translateX(20%);
-o-transform: translateX(20%);
transform: translateX(20%); }
.seofy_module_time_line_vertical.appear_anim .time_line-item:nth-child(even) .time_line-content {
-webkit-transform: translateX(-20%);
-moz-transform: translateX(-20%);
-ms-transform: translateX(-20%);
-o-transform: translateX(-20%);
transform: translateX(-20%); }
.seofy_module_time_line_vertical .time_line-item {
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: -5px;
-webkit-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
transition: opacity 0.5s; }
.seofy_module_time_line_vertical .time_line-item:last-child {
margin-bottom: 0; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) {
-webkit-box-orient: horizontal;
-webkit-box-direction: reverse;
-webkit-flex-direction: row-reverse;
-moz-box-orient: horizontal;
-moz-box-direction: reverse;
-ms-flex-direction: row-reverse;
flex-direction: row-reverse; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date_wrap {
margin-right: -webkit-calc( 50% - 10px);
margin-right: -moz-calc( 50% - 10px);
margin-right: calc( 50% - 10px);
margin-left: 50px; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-date {
right: auto;
left: -90%;
padding-left: 50px;
padding-right: 0; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-image {
left: 0;
right: auto; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content {
text-align: right; }
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .time_line-content:before {
left: auto;
right: 0; }
.seofy_module_time_line_vertical .seofy_hexagon{
  position:absolute;
  top:0;
  z-index:-1;
}
.seofy_module_time_line_vertical .time_line-item:nth-child(even) .seofy_hexagon {
left: auto;
right: 0; }
.seofy_module_time_line_vertical .time_line-item.item_active .seofy_hexagon:nth-child(2) {
-webkit-transform: scale(2);
-moz-transform: scale(2);
-ms-transform: scale(2);
-o-transform: scale(2);
transform: scale(2); }
.seofy_module_time_line_vertical .time_line-item.item_show .time_line-content, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-content {
opacity: 1;
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0); }
.seofy_module_time_line_vertical .time_line-item.item_show .seofy_hexagon, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .seofy_hexagon {
opacity: 1; }
.seofy_module_time_line_vertical .time_line-item.item_show .time_line-date, .seofy_module_time_line_vertical .time_line-item.item_show:nth-child(even) .time_line-date {
opacity: 1;
-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0); }
.seofy_module_time_line_vertical .time_line-date_wrap {
position: relative;
z-index: 1;
margin-left: -webkit-calc( 50% - 10px);
margin-left: -moz-calc( 50% - 10px);
margin-left: calc( 50% - 10px);
margin-right: 50px; }
.seofy_module_time_line_vertical .seofy_hexagon {
height: 22px;
width: 15px;
-webkit-transition: opacity 0.8s;
-o-transition: opacity 0.8s;
-moz-transition: opacity 0.8s;
transition: opacity 0.8s; }
.seofy_module_time_line_vertical .seofy_hexagon:first-child {
position: relative;
z-index: 0; }
.seofy_module_time_line_vertical .seofy_hexagon:nth-child(2) svg {
fill: #ffffff !important; }
.seofy_module_time_line_vertical .time_line-date {
position: absolute;
z-index: 1;
top: 0;
right: -90%;
padding-right: 50px;
font-size: 24px;
font-weight: 700;
line-height: 20px;
white-space: nowrap;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s; }
.seofy_module_time_line_vertical .time_line-content {
position: relative;
z-index: 1;
padding: 13px 20px;
width: 100%;
max-width: 400px;
-webkit-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
-moz-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #ffffff;
overflow: hidden;
-webkit-transition: 0.4s;
-o-transition: 0.4s;
-moz-transition: 0.4s;
transition: 0.4s; }
.seofy_module_time_line_vertical .time_line-content:before {
content: '';
position: absolute;
z-index: 1;
width: 5px;
height: 100%;
left: 0;
top: 0; }
.seofy_module_time_line_vertical .time_line-image {
position: absolute;
z-index: -1;
right: 0;
top: 0; }
.seofy_module_time_line_vertical .time_line-title {
font-size: 18px;
line-height: 24px;
font-weight: 700;
margin-bottom: 8px; }
.seofy_module_time_line_vertical .time_line-descr {
line-height: 24px; }
.seofy_module_time_line_vertical .time_line-item:hover .time_line-content {
-webkit-transform: translateX(5px);
-moz-transform: translateX(5px);
-ms-transform: translateX(5px);
-o-transform: translateX(5px);
transform: translateX(5px);
background: white; }
.seofy_module_time_line_vertical .time_line-item:hover .time_line-date {
-webkit-transform: translateX(-5px);
-moz-transform: translateX(-5px);
-ms-transform: translateX(-5px);
-o-transform: translateX(-5px);
transform: translateX(-5px); }
.seofy_module_time_line_vertical .time_line-item:hover:nth-child(even) .time_line-content {
-webkit-transform: translateX(-5px);
-moz-transform: translateX(-5px);
-ms-transform: translateX(-5px);
-o-transform: translateX(-5px);
transform: translateX(-5px); }
.seofy_module_time_line_vertical .time_line-item:hover:nth-child(even) .time_line-date {
-webkit-transform: translateX(5px);
-moz-transform: translateX(5px);
-ms-transform: translateX(5px);
-o-transform: translateX(5px);
transform: translateX(5px); }
.seofy_module_time_line_vertical .time_line-item:hover.item_active .seofy_hexagon:nth-child(2) {
-webkit-animation: pulse_hexagon_active 2s infinite;
-moz-animation: pulse_hexagon_active 2s infinite;
-o-animation: pulse_hexagon_active 2s infinite;
animation: pulse_hexagon_active 2s infinite; }
.seofy_module_time_line_vertical .time_line-item:hover .seofy_hexagon:nth-child(2) {
-webkit-animation: pulse_hexagon 2s infinite;
-moz-animation: pulse_hexagon 2s infinite;
-o-animation: pulse_hexagon 2s infinite;
animation: pulse_hexagon 2s infinite; }
@-webkit-keyframes pulse_hexagon {
0% {
-webkit-transform: scale(1);
transform: scale(1); }
70% {
-webkit-transform: scale(2);
transform: scale(2); }
100% {
-webkit-transform: scale(1);
transform: scale(1); } }
@-moz-keyframes pulse_hexagon {
0% {
-moz-transform: scale(1);
transform: scale(1); }
70% {
-moz-transform: scale(2);
transform: scale(2); }
100% {
-moz-transform: scale(1);
transform: scale(1); } }
@-o-keyframes pulse_hexagon {
0% {
-o-transform: scale(1);
transform: scale(1); }
70% {
-o-transform: scale(2);
transform: scale(2); }
100% {
-o-transform: scale(1);
transform: scale(1); } }
@keyframes pulse_hexagon {
0% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
70% {
-webkit-transform: scale(2);
-moz-transform: scale(2);
-o-transform: scale(2);
transform: scale(2); }
100% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); } }
@-webkit-keyframes pulse_hexagon_active {
0% {
-webkit-transform: scale(2);
transform: scale(2); }
30% {
-webkit-transform: scale(1);
transform: scale(1); }
100% {
-webkit-transform: scale(2);
transform: scale(2); } }
@-moz-keyframes pulse_hexagon_active {
0% {
-moz-transform: scale(2);
transform: scale(2); }
30% {
-moz-transform: scale(1);
transform: scale(1); }
100% {
-moz-transform: scale(2);
transform: scale(2); } }
@-o-keyframes pulse_hexagon_active {
0% {
-o-transform: scale(2);
transform: scale(2); }
30% {
-o-transform: scale(1);
transform: scale(1); }
100% {
-o-transform: scale(2);
transform: scale(2); } }
@keyframes pulse_hexagon_active {
0% {
-webkit-transform: scale(2);
-moz-transform: scale(2);
-o-transform: scale(2);
transform: scale(2); }
30% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
transform: scale(1); }
100% {
-webkit-transform: scale(2);
-moz-transform: scale(2);
-o-transform: scale(2);
transform: scale(2); } }
#time_line_5cf90ca818f641 .time_line-date{
color: #ffa705;
}#time_line_5cf90ca818f641 .time_line-content:before{
background: #ffa705;
}
#time_line_5cf90ca818fa82 .time_line-date{
color: #ff5600;
}#time_line_5cf90ca818fa82 .time_line-content:before{
background: #ff5600;
}
#time_line_5cf90ca818fc83 .time_line-date{
color: #69e9f2;
}#time_line_5cf90ca818fc83 .time_line-content:before{
background: #69e9f2;
}
#time_line_5cf90ca818fe44 .time_line-date{
color: #12affe;
}#time_line_5cf90ca818fe44 .time_line-content:before{
background: #12affe;
}
#time_line_5cf90ca818ffe5 .time_line-date{
color: #3224e9;
}#time_line_5cf90ca818ffe5 .time_line-content:before{
background: #3224e9;
}
.extended-parallax {
position: absolute;
z-index: -1;
width: 100%; }
.extended-parallax img{
  max-width:100%;
}
@media only screen and (max-width: 767px) {
  .seofy_module_time_line_vertical:before {
left: 45px; }
.seofy_module_time_line_vertical .time_line-date_wrap {
margin-left: 35px !important;
margin-right: 35px !important; }
.seofy_module_time_line_vertical .time_line-date {
padding: 0 !important;
right: 100% !important;
left: auto !important; }
.seofy_module_time_line_vertical .time_line-content {
text-align: left !important; }
.seofy_module_time_line_vertical .time_line-content:before {
left: 0 !important;
right: auto !important; }
.seofy_module_time_line_vertical .time_line-item {
-webkit-box-orient: horizontal !important;
-webkit-box-direction: normal !important;
-webkit-flex-direction: row !important;
-moz-box-orient: horizontal !important;
-moz-box-direction: normal !important;
-ms-flex-direction: row !important;
flex-direction: row !important; }
.seofy_module_time_line_vertical .time_line-date {
-webkit-transform: rotate3d(0, 0, 1, -90deg) !important;
-moz-transform: rotate3d(0, 0, 1, -90deg) !important;
transform: rotate3d(0, 0, 1, -90deg) !important; }
.seofy_module_time_line_vertical.appear_anim .time_line-date {
-webkit-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
-moz-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important; }
.seofy_module_time_line_vertical.appear_anim .time_line-content {
-webkit-transform: translateX(20%) !important;
-moz-transform: translateX(20%) !important;
-ms-transform: translateX(20%) !important;
-o-transform: translateX(20%) !important;
transform: translateX(20%) !important; }
.seofy_module_time_line_vertical.appear_anim .time_line-item.item_show .time_line-date {
-webkit-transform-origin: top;
-moz-transform-origin: top;
-ms-transform-origin: top;
-o-transform-origin: top;
transform-origin: top;
-webkit-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
-moz-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
width: 100px;
white-space: normal; }
.seofy_module_time_line_vertical.appear_anim .time_line-item.item_show .time_line-content {
-webkit-transform: translateX(0) !important;
-moz-transform: translateX(0) !important;
-ms-transform: translateX(0) !important;
-o-transform: translateX(0) !important;
transform: translateX(0) !important; }
.seofy_module_time_line_vertical .time_line-item:hover .time_line-content {
-webkit-transform: translateX(5px) !important;
-moz-transform: translateX(5px) !important;
-ms-transform: translateX(5px) !important;
-o-transform: translateX(5px) !important;
transform: translateX(5px) !important; }
.seofy_module_time_line_vertical .time_line-item.item_show:hover .time_line-content {
-webkit-transform: translateX(5px) !important;
-moz-transform: translateX(5px) !important;
-ms-transform: translateX(5px) !important;
-o-transform: translateX(5px) !important;
transform: translateX(5px) !important; }
}





















































@import url(https://fonts.googleapis.com/css?family=Lato:400|Raleway:400);



#timeline {
  padding-top: 5%;
}

.timeline {
  height: 100%;
  position: relative;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  figcaption {
    font: 900 190% 'Lato';
    text-transform: uppercase;
    -webkit-text-stroke: .25px;
  }

  h2 {
    font: 400 400% 'Raleway';
    padding-bottom: 100px;
    color: #b2cde9;
  }

  h6 {
    color: #0090F5;
    font: 400 80% Tahoma;
  }


  p,
  ol {
    font: 400 95% 'Raleway';
    padding: 3px 0 20px 0;
    color: #575757;
    text-align: justify;
    width: 70%;
  }

  ol {
    list-style: disc;
    margin-top: -20px;
    padding-left: 40px;
  }

  figure {
    float: right;
    width: 100%;
  }

  article {
    position: relative;
    width: 38%;
    overflow: hidden;
    margin-bottom: 100px;

    &:first-of-type {
      float: left;
      text-align: right;

      p,
      figure {
        float: right;
      }
    }

    &:last-of-type {
      float: right;

      h2 {
        color: #c6e0aa;
      }

      h6,
      a {
        color: #40aa00;
      }

      a:hover {
        color: #95D40D;
      }
    }
  }
}
